<div style="padding-left: 50px;">

  <h2>Multiple Regression</h2>
  Multiple regression is like linear regression, but with more than one independent value, meaning that we try to predict a value based on two or more variables.
  <h2>Data Set</h2>
  <pre>
LAND SQUARE FEET,GROSS SQUARE FEET,SALE PRICE
13390,5994,1495000
6180,4808,975000
13406,4180,1199000
8000,4011,865000
</pre>
  <h2>Result & Training Data Chart</h2>
  Trained model with the following cost fit
  <%= @compute_cost %><br>
    <%= @summary_lr %>
    <%= number_to_currency(@predicted_price) %>

    <%#= scatter_chart City.pluck(:size, :population), xtitle: "Size", ytitle: "Population" %>
    <%= scatter_chart @x_data , legend: false, xtitle:"$ Cost", ytitle:"Square Feet" %>
  </div>
